<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs')  %>
	<h1 class="category-title">Greek Mythology</h1>
    <h3 class="type-title">Olympians</h3>
    <main class="main-index">
        <ul>
            <% articles.forEach(article => { %>
                <li class="index-article">
                    <a href="/<%=article.id%>">
                        <img id="index-img" src="<%=article.img%>">
                        <p><%=article.name%></p>
                    </a>
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>

</html>