<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <form class="edit" action="/<%=article._id%>?_method=PUT" method="POST">
        Article name: <input type="text" name="name" value="<%=article.name%>"/> 
    </br>
        Category: <input type="text" name="category" value="<%=article.category%>"/>
    </br>
        Type/sub-category (optional):<input type="text" name="type" value="<%=article.type%>"/>
    </br>
        Image URL (optional): <input type="text" name="img" value="<%=article.img%>"/>
    </br>
        Article Content: <input id="new-text-content" type="text" name="description" value="<%=article.description%>"/>   
    <br>
    <input type="submit" value="Submit Changes"/>
    </form>
</body>
</html>