<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Mythology Wiki</h1>
    <main>
        <div>
            <a href="/new">Create New Article</a>
        </div>
        <% articles.forEach(article => { %>
            <li>
                <a href="/<%=article.id%>"><%=article.name %></a>
                <form action ="/<%=article.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/<%=article.id%>/edit">Edit</a>
            </li>
        <% }) %>
    </main>
</body>
</html>