<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Mythology Wiki</h1>
    <main>
        <div>
            <a href="/myths/new">Create New Article</a>
        </div>
        <% articles.forEach(article => { %>
            <li>
                <a href="/myths/<%=article.id%>"><%=article.name %></a>
                <form action ="/myths/<%=article.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/myths/<%=article.id%>">Edit</a>
            </li>
        <% }) %>
    </main>
</body>
</html>